body {
  font-size: 1.2rem;
}

h2 {
  background-color: beige;
  padding: 10px;
}

div {
  background-color: lightyellow;
  color: black;
  padding: 10px;
}

footer {
  background-color: lightblue;
  color: black;
  padding: 10px;
}
